<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite (POM using Selenium WebDriver and Java)">
    <test name="Tests (POM using Selenium WebDriver and Java)">
        <packages>
            <package name="tutorial.POM.tests"></package>
        </packages>
    </test>
</suite>